.App {
  
  border: 5px solid black;
  max-width: 300px;
  min-width: 100px;
  margin: 0 auto;
  position: relative;
  
}


.add{
  border: 3px solid black;
  border-radius: 10px;
  height:30px;
}


button{
  border: 3px solid gray;
}

.addButton{
  background-color: greenyellow;
  border-radius: 10px;
  height: 30px;
  position: absolute;
  right:10px;
  
  font-size: 15px;
}

span{
  font-size: 27px;
  padding-left:60px;
}

.list{
text-align: center;

}

input{
  height: 20px;
  border-radius: 10px;
}


li{
  text-align: center;
  padding: 2px;
  
  bottom:5px ;  
}

h3{
  font-size: 30px;
  letter-spacing: 3px;
}

@media screen and (max-width:600px)
 {

  .app{
    width: 300px;
  }
  
}
@media only screen and (min-width:200px)
 {

  .app{
    width: 100px;
  }
  
}